:root {
  --text-color: white;
  --sky-color: rgb(87, 191, 233);
  --clouds-color: white;
  --text-background: black;
  --border: gray;
}

.game-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  gap: 0px;
  grid-template-columns: 4fr 1fr;
}

.bar {
  background-color: var(--text-background);
}

.world {
  background-color: var(--sky-color);
}

.world-divs-warpper {
  height: 100vh;
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.grass-tile {
  background-image: url(/imgs/grass.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.soil-tile {
  background-image: url(/imgs/soil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.stone-tile {
  background-image: url(/imgs/rock.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.wood-tile {
  background-image: url(/imgs/wood.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.leaf-tile {
  background-image: url(/imgs/tree-leaves.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.cloud-tile {
  background-color: var(--clouds-color);
}

.tool-box {
  padding: 2vh;
  display: grid;
  gap: 2 vh;
  grid-template-columns: 1fr 1fr;
}

.tool {
  margin-top: 2vh;
}

.tool-img {
  height: 10vh;
  width: 10vh;
  border: solid 1.5px var(--border);
}

.axe > .tool-img {
  background-image: url(/imgs/wood_axe.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.pickaxe > .tool-img {
  background-image: url(/imgs/stone_pickaxe.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.shovel > .tool-img {
  background-image: url(/imgs/stone_shovel.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.inventory {
  padding: 2vh;
  display: grid;
  gap: 2 vh;
  grid-template-columns: 1fr 1fr;
}

.tile {
  margin-top: 2vh;
}

.tile-img {
  height: 10vh;
  width: 10vh;
  border: solid 1.5px var(--border);
}
